<div class="container">
    <div class="row">
        <div class="col-sm-4 col-lg-4"><img src="./images/food-sourdough-01.jpg" class="img-responsive" /></div>
        <div class="col-sm-6 col-lg-6 home-text">
            <p>Jack and Jill started the business on 1982.  Since then, it has grown into a successful business and well known for it's quality.</p>
            <p>All bread are freshly made daily on the premises with no preservative.  Unsold bread are donated to food bank at the end of the day.</p>
        </div>
    </div>
    <div><p></p></div>
    <div class="row">
        <div class="col-sm-10 col-lg-10"><img src="./images/food-bottom-01.jpg" class="img-responsive" /></div>
    </div>
</div>
