<div id="loc_{{branch.name}}" class="row">
    <div class="embed-responsive embed-responsive-16by9 col-xs-12 col-lg-9 col-md-9">
        <div class="embed-responsive-item">
            {{branch.location.lat}}, {{branch.location.long}}
        </div>
    </div>
    <div class="col-xs-12 col-lg-3 col-md-3">
        <p class="product-name">Contact our friendly staff</>
        <ul class="list-unstyled contact-detail">
            <li><span class="glyphicon glyphicon-phone"></span> <a href="tel:{{branch.contact.phone}}">{{branch.contact.phone}}</a></li>
            <li><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{branch.contact.email}}">{{branch.contact.email}}</a></li>
        </ul>
    </div>
</div>
